* {
    padding:0;
    margin :0;
    box-sizing:border-box;
    user-select: none ;
}

body,html {
    font-family: 'Montserrat', sans-serif;
    background-color: var(--n900);
}

:root {
    --h:217;
    --n100 : hsl(var(--h),15%,95%);
    --n300 : hsl(var(--h),15%,75%);
    --n500 : hsl(var(--h),10%,50%);
    --n600 : hsl(var(--h),12%,24%);
    --n700 : hsl(var(--h),12%,20%);
    --n800 : hsl(var(--h),12%,17%);
    --n900 : hsl(var(--h),15%,15%);
    --p     : hsl(217,90%,60%);
    --yellow: hsl(35,80%,60%);
    --green : hsl(135,80%,60%) ;
}

.wrapper {
    position: absolute ;
    width : 100% ;
    min-height: 100vh ;
    background-color: var(--n900);
    color: var(--n100);
    padding-bottom: 3rem ;
}

.title {
    text-align: center ;
    margin: 2rem 0 ;
}

.title span {
    display: inline-block ;
    width: 2rem ;
    text-align: center ;
    border: 1px solid var(--n700);
    padding: 0.25rem ;
}

.game-board {
    --cell-size : 4rem ;
    position: relative ;
    gap: 0.25rem ;
    margin: 0 auto ;
    margin-bottom: 3rem ;
}

.game-board .row {
    display: flex ;
    justify-content: center ;
}
.game-board .row + .row {
    margin-top: 0.25rem ;
}

.game-board .cell {
    width: var(--cell-size);
    height: var(--cell-size);
    position: relative ;
    border: 2px solid var(--n700);
    display:flex;
    align-items:center;
    justify-content:center;
    transition: all 300ms ease-out ;
    font-size: 2rem ;
    text-transform: uppercase ;
    font-weight: 700 ;
}

.game-board .cell + .cell {
    margin-left: 0.25rem ;
}

.game-board .filled {
    animation: filled 100ms ease-out forwards;
}

@keyframes filled {
    0% {
        transform: scale(0);
    } 80% {
        transform: scale(1.25);
    } 100% {
        transform: scale(1);
    }
}

.keyboard-container {
    display: flex ;
    align-items: center ;
    justify-content: center ;
}

.keyboard {
    --key-size : 2.5rem ;
}

.keyboard .row {
    display: flex ;
    align-items: center ;
    justify-content: center ;
}

kbd,.key {
    display: block ;
    width  : var(--key-size);
    height : var(--key-size);
    display:flex;
    align-items:center;
    justify-content:center;
    border-radius: 4px ;
    background-color: var(--n700);
    margin: 0.25rem ;
    color: var(--n300);
    font-size: 1rem ;
    font-weight: 500 ;
    font-family: sans-serif ;
    text-transform: uppercase ;
    transition: all 100ms ease-out ;
}

kbd:hover,.key:hover {
    background-color: var(--n600);
    cursor: pointer ;
    transform: scale(1.1);
}

.action-btns {
    width: 100% ;
    display: flex ;
    align-items: center ;
    justify-content: space-between ;
    padding: 0 0.25rem ;
    margin-bottom: 0.25rem;
}

.no-match {
    background-color: var(--n700) ;
    color: var(--n900);
}

.included {
    background-color: var(--yellow) ;
    color: var(--n900);
}

.match {
    background-color: var(--green) ;
    color: var(--n900);
}

kbd.no-match {
    color: var(--n500);
    background-color: var(--n800) ;
}

.action-btns button {
    display: block ;
    width: auto ;
    height: var(--key-size);
    padding: 0 1rem ;
    background-color: var(--n700);
    color: var(--n300);
    border: none ;
    border-radius: 4px ;
    display:flex;
    align-items:center;
    justify-content:center;
    margin: 0 ;
}

.action-btns button svg {
    width : 1.5rem ;
    height: 1.5rem ;
    fill: var(--n300);
}

.shake {
    animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
    pointer-events: none ;
}

@keyframes shake {
    10%, 90% {
      transform: translate3d(-1px, 0, 0);
    }
    20%, 80% {
      transform: translate3d(2px, 0, 0);
    }
    30%, 50%, 70% {
      transform: translate3d(-4px, 0, 0);
    }
    40%, 60% {
      transform: translate3d(4px, 0, 0);
    }
}

@media only screen and (max-width: 480px) {
    .keyboard {
        width: 100% ;
    } 
}